@model IEnumerable<AplicacaoCarrinho.Models.Livro>
@{
	ViewData["Title"] = "Index";
	decimal SubTotal = 0;
}
<div class="container">
	<section id="order">
		<br />
		<br />
		<h2 class="title-doc">Carrinho de compras</h2>
		<div class="alert alert-danger" style="display: none;" role="alert">

		</div>

		<div id="code_cart">
			<div class="card">
				<table class="table table-hover shopping-cart-wrap">
					<thread class="text-muted">
						<tr>
							<th scope="col">Produto</th>
							<th scope="col" width="120">Quantidade</th>
							<th scope="col" width="120"></th>
							<th scope="col" width="200" class="text-right">Ação</th>
						</tr>
					</thread>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									<figure class="media">
										<div class="img-wrap">

											<img alt="Thumbnail [300x300]" style="width: 40px; height: 40px;" src="@item.imagemLivro" />
										</div>
										<figcaption class="media-body">
											<h6 class="title text-truncate">@item.NomeLivro</h6>
											<dl class="dlist-inline small">
												<dt>Codigo Livro: @item.codLivro</dt>
												<dd>@item.codLivro</dd>
											</dl>
										</figcaption>
									</figure>
								</td>
								<td>
									<div class="col-auto">
										<div class="input-group mb-2 control-inline">
											<input type="hidden" class="inputProdutoId" value="@item.codLivro" />
											<input type="hidden" class="inputQuantidadeEstoque" value="@item.quantidade" />
											<input type="hidden" class="inputValorUnitario" value="R$ 00,00" />

											<input type="text" style="width: 60px; text-align:center" readonly="readonly"
											class="form-control inputQuantidadeProdutoCarrinho" value="@item.quantidade" />

										</div>
									</div>
								</td>
								<td>

								</td>
								<td class="text-right">
									<a asp-controller="Home" asp-action="RemoverItem" asp-route-id="@item.codLivro" class="btn btn-outline-danger"> x Remove</a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</section>
</div>
<div class="container">
	<br />
	<br />
	<div class="row">
		<div class="col-md-12">
			Deseja adicionar outro? <a asp-controller="Home" asp-action="Index">Clique aqui</a> para continuar. . .
		</div>
		<br/>
		<br />
		<div class="offset-md-4 col-md-4">
			<a class="btn btn-outline-primary btn-continuar-comprando" asp-action="SalvarCarrinho" asp-controller="Home">
				Finalizar o Empréstimo
			</a>
		</div>
	</div>
</div>